<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Articles</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="../../lib/highcharts.js"></script>
		<script src="../../lib/highcharts-3d.js"></script>
		<script src="../../lib/modules/series-label.js"></script>
		<script src="../../lib/modules/exporting.js"></script>
		<script src="../../lib/modules/export-data.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="../../../../../web/home/assets/bootstrap/js/bootstrap.min.js"></script>
		<link type="text/css" href="../../../../../web/home/assets/css/global.css" rel="stylesheet"/>
		<link type="text/css" href="../../../../../web/home/assets/css/graph.css" rel="stylesheet"/>
		<link href="../../../../../web/home/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="../../../../../web/home/assets/bootstrap/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../../../web/home/assets/css/ecomnewsmed.css"/>
		<link rel="stylesheet" type="text/css" href="../../../../../web/home/assets/css/nav.css"/>
		<!-- <link href="views/css/style.css" rel="stylesheet" type="text/css" media="screen"/> -->
		<!-- <noscript><a href="navecn.html">Menu</a></noscript> -->

		<!-- <object type="text/html" data="navecn.html"> -->
	</head>

<body>
