<div id="container"></div>

<div id="sliders">
    <table>
        <tr>
        	<td>Alpha Angle</td>
        	<td><input id="alpha" type="range" min="0" max="45" value="15"/></td>
					<td><span id="alpha-value" class="value"></span></td>
        </tr>
				<tr>
					<td><br></td>
				</tr>
        <tr>
        	<td>Beta Angle</td>
        	<td><input id="beta" type="range" min="-45" max="45" value="15"/></td>
					<td><span id="beta-value" class="value"></span></td>
        </tr>
				<tr>
					<td><br></td>
				</tr>
        <tr>
        	<td>Depth</td>
        	<td><input id="depth" type="range" min="20" max="100" value="50"/></td>
					<td><span id="depth-value" class="value"></span></td>
        </tr>
    </table>
</div>

<script src="../../js/mainGraphColumn.js?date=<?php echo time(); ?>" type="text/javascript"></script>
