body {
	background-color: lightpink;
}

.btn_blue {
 background-color: purple;
 color: violet;
 border: 2px solid darkblue;
}

.btn_blue:hover {
 background-color: violet;
 color: purple;
	 transition-duration: 1s; /* définit le nombre de secondes que doit durer l'animation */
}

#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto;
	margin-top:-18px;
}

#sliders {
	margin-left:470px;
	margin-top:10px;
}

#sliders #alpha, #beta, #depth {
	margin-left:5px;
}

#sliders #alpha-value, #beta-value, #depth-value {
	margin-left:10px;
}



.center h1 {
	text-align: center;
	color: cyan;
	 border: 3px blue groove;
	 width: 200px;
	 background:red;
	 margin-left: 750px;
 }


 button {
 	padding: 10px 20px; /* génère de l'espace autour du contenu d'un élément, à l'intérieur des limites définies */
 	text-decoration: none;
 	font-weight: bold;
 	border-radius: 10px 10px 10px 10px;
 	cursor: pointer;
 }

 .btn_red {
 	background-color: red;
 	color: white;
 	border: 2px solid red;
 }

 .btn_red:hover {
 	background-color: white;
 	color: red;
     transition-duration: 1s;
 }

 .btn_green {
 	background-color: red;
 	color: yellow;
 	border: 2px solid blue;
 }

 .btn_green:hover {
 	background-color: yellow;
 	color: red;
     transition-duration: 1s; /* définit le nombre de secondes que doit durer l'animation */
 }


 .div_center {
 	width: 100%;
 	text-align: center;
 }


 body{
 	padding: 0;
 	 margin: 0;
 	 /* background: #FAFAFA; */
 }
 .index-h1{
 	text-align: center;
 }
 .con-form{
 	text-align: center;
 }
 .input{
 	background: #fff;
 	font-size: 16px;
     border: 1px solid #CCC;
     width: 100%;
     color: #000;
     height: 40px;
     transition: all 0.5s ease-out;
     padding-left: 10px;
     outline: none;
 }
 .jump{
 	margin-top: 50px;
 	text-align: center
 }
 .conn{
 	border: 2px solid #26A65B;
 	width: 50%;
 	 background: transparent;
 	height: 40px;
 	color: #26A65B;
 	outline: none;
 	border-radius: 20px;
 }
 .insc{
 	border: 2px solid #26A65B;
 	width: 50%;
 	background: transparent;
 	height: 40px;
 	color: #26A65B;
 	outline: none;
 	border-radius: 20px;
 }
 .navbar-default {
   border: 0;
   border-radius: 0;
   background-color: #26a65b;
   border-color: #90c695;
 }
 .navbar-default .navbar-brand {
   color: #ffffff;
 }
 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
   color: #ffffff;
 }
 .navbar-default .navbar-text {
   color: #ffffff;
 }
 .navbar-default .navbar-nav > li > a {
   color: #ffffff;
 }
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   color: #ffffff;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
   color: #ffffff;
   background-color: #90c695;
 }
 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover,
 .navbar-default .navbar-nav > .open > a:focus {
   color: #ffffff;
   background-color: #90c695;
 }
 .navbar-default .navbar-toggle {
   border-color: #90c695;
 }
 .navbar-default .navbar-toggle:hover,
 .navbar-default .navbar-toggle:focus {
   background-color: #90c695;
 }
 .navbar-default .navbar-toggle .icon-bar {
   background-color: #ffffff;
 }
 .navbar-default .navbar-collapse,
 .navbar-default .navbar-form {
   border-color: #ffffff;
 }
 .navbar-default .navbar-link {
   color: #ffffff;
 }
 .navbar-default .navbar-link:hover {
   color: #ffffff;
 }

 @media (max-width: 767px) {
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #ffffff;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     color: #ffffff;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
   .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
     color: #ffffff;
     background-color: #90c695;
   }
 }
